.form {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  text-align: center;
  border: black 1px solid;
  border-radius: 10px;
  padding-bottom: 20px;
  background-color: rgb(250, 242, 230);
  margin-top: 30px;
}

.input {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  display: block;
}

.label {
  display: block;
  margin-top: 20px;
}

.button {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.button:hover,
.button:focus {
  background-color: rgb(99, 195, 233);
}

.list {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border: rgb(20, 20, 19) solid 1px;

  padding: 0;
}

.listItem:not(:last-child) {
  border-bottom: 1px solid #000;
}

.listItem {
  padding-left: 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.listItem:nth-child(even) {
  background-color: azure;
}

.listItem:nth-child(odd) {
  background-color: rgb(178, 231, 231);
}

.deleteButton {
  margin-right: 20px;
}
.deleteButton:hover,
.deleteButton:focus {
  background-color: rgb(99, 195, 233);
}

.deleteButton,
.button {
  transition-property: background-color;
  transition-duration: 300ms;
  font-size: 15px;
  height: 22px;
  background-color: rgb(130, 233, 99);
  border: rgb(20, 20, 19) solid 1px;
  border-radius: 5px;
}
